{% extends 'base.html' %} {% block title %}Login{% endblock title %}
{% block style_sheet %}
<style>
    body {
        align-items: center;
    }
    #main {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
    }
    #warning {
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        font-weight:bold;
        font-size: 100px;
    }
    #confirmation_text {
        font-size: 40px;
        font-family: 'Source Sans Pro', sans-serif;
    }
    #delete_note {
    margin-right: 5px;
    display:inline-block;
    padding:0.35em 1.2em;
    margin-top: 4px;
    border:0.1em solid red;
    background-color: red;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    color: white;
  }
  #delete_note:hover{
    color:#000000;
    cursor: pointer;
    background-color:#88ABFF;
  }
  #go_back {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #fff;
    background-color: #fff;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    color: black;
    margin-right: 10px;
  }
  #go_back:hover {
    color:black;
    background-color:#88ABFF;
    cursor: pointer;
  }
</style>
{% endblock style_sheet %}
{% block content %}
<div id="home_page_container">
    <form method="POST" id="main">
        {% csrf_token %}
        <h1 id='warning'>WARNING!!!</h1>
        <p id="confirmation_text">Are your sure you want to delete this Note?</p>
        <div class="buttons">
            <a href="{% url 'view_note' note.id %}" id="go_back">Go Back</a>
            <input class="button" type="submit" value="Delete" id="delete_note"/>
        </div>
    </form>
</div>
{% endblock content %}