{% extends 'base.html' %} {% block title %}Home{% endblock title %}
{% load static %}
{% block style_sheet %}
<link rel="stylesheet" href={% static "styles/home_page.css" %} />
<style>
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
  body {  
    box-sizing: border-box;
    margin: 10px;
  }
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    padding-top: 10px;
  }
  #home_page_container {
    margin: 10px;
  }
  #wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 265px);
    box-sizing: border-box;
    gap: 15px;
    align-items: center;
  }
  #note_container {
    font-family: 'Source Sans Pro', sans-serif;
    max-height: fit-content;
    list-style: none;
    height: auto;
    background: white;
    width: 1315px;
    margin-bottom: 10px; 
    margin-top: 10px; 
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    border: none;
  }
  #bottom {
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
  }
  #note_title {
    color: black;
    font-size: 30px;
  }
  #log_button{
    padding:0.35em 1.2em;
    height: 40px;
    margin-top: 4px;
    border:0.1em solid white;
    background-color: white;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    color: black;
    align-items: center;
  }
  #log_button:hover{
    color: white;
    background-color:#88ABFF;
  }
  #edit_note{
    display:inline-block;
    padding:0.35em 1.2em;
    margin-top: 4px;
    border:0.1em solid #88ABFF;
    background-color: #88ABFF;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    color: white;
  }
  #edit_note:hover{
    color:#000000;
    background-color:#FFFFFF;
  }
  #welcome_header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #ededed;
  }
  #welcome_header span {
    color:#1affd1;
  }
  #create_new_note {
    display:inline-block;
    padding:0.35em 1.2em;
    margin-top: 20px;
    border:0.1em solid white;
    background-color: white;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    color: black;
  }
  #create_new_note:hover{
    color: white;
    background-color:#88ABFF;
  }
  .search_container {
    border-radius: 50px;
    margin-top: 12px;
    width: 800px;
    background-color: white;
  }
  #input_text {
    border: none;
    background: none;
    width: 88%;
    outline: none;
  }
  #search_button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #88ABFF;
    background-color: #88ABFF;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    color: white;
  }
  #search_button:hover{
    color:#000000;
    background-color:#FFFFFF;
    cursor: pointer;
  }
  #search_form {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50px;
  }
  #delete_note {
    margin-right: 5px;
    display:inline-block;
    padding:0.35em 1.2em;
    margin-top: 4px;
    border:0.1em solid red;
    background-color: red;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    color: white;
  }
  #delete_note:hover{
    color:#000000;
    background-color:#FFFFFF;
  }
  #no_note {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10px;
  }
</style>
{% endblock style_sheet %}
{% block content %}
<div id="home_page_container">
  <div id="navbar">
    {% if request.user.is_authenticated %}
    <h1 id="welcome_header">Hello, <span>{{request.user}}</span>!</h1> 
    <a href='{% url 'Logout' %}' id="log_button">Logout</a>
    {% else %}
    <a href='{% url 'login' %}' id="log_button">Login</a>
    {% endif %}
  </div>
  <div class="new_note">
    <a href='{% url 'create_note' %}' id="create_new_note">New Note</a>
  </div>
  <div class="search_container">
    <form method="GET" action="" id="search_form">
      <input type="text" name="search_area" placeholder="Search notes using the note title" id="input_text" />
      <input type="submit" value="Search" id="search_button" />
    </form>
  </div>
  {% if not notes %}
    <p id="no_note">You do not have any notes, create one now!</p>
  {% endif %}
  <div id="wrapper">
    <div id="note_wrapper">
      {% for note in notes %}
      <div id="note_container">
        <div>        
          <a href='{% url 'view_note' note.id %}' id="note_title">{{note.note_title}}</a>        
          <p>{{note.note_content}}</p>
          <div id="bottom">
            <p>{{note.created_at.date}}</p>
            <div class="bottom_buttons">
              <a href="{% url 'delete_note' note.id %}" id="delete_note">Delete</a>
              <a href="{% url 'view_note' note.id %}" id="edit_note">Edit</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}  
