{% extends 'base.html' %} {% block title %}Edit Note{% endblock title %}
{% block style_sheet %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
  #create_note_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #form_container {
    margin-top: 40px;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    width: 800px;
    height: 480px;
    box-shadow: 5px 10px;
  }
  .note_form {
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    height: 400px;
  }
  .note_title {
    border: none;
    margin-bottom: 2px;
    outline: none;
    width: 710px;
    border-bottom: 2px solid #ccc;
  }
  .note_content {
    border: none;
    outline: none;
    width: 710px;
    height: fit-content;
    resize: vertical;
    cursor: auto;
  }
  .bottombuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #go_back {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #88ABFF;
    background-color: #88ABFF;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    color: white;
  }
  #go_back:hover {
    color:#000000;
    background-color:#FFFFFF;
    cursor: pointer;
  }
  #save_note {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #0db81b;
    background-color: #0db81b;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    color: white;
    margin-left: 5px;
  }
  #save_note:hover {
    color:#000000;
    background-color:#FFFFFF;
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    width: 20px;
    cursor: pointer;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #88ABFF;
    border-radius: 10px;
  }
  ::-webkit-resizer {
    visibility: hidden;
  }
  #delete_note {
    margin-right: 5px;
    display:inline-block;
    padding:0.35em 1.2em;
    margin-top: 4px;
    border:0.1em solid red;
    background-color: red;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    color: white;
  }
  #delete_note:hover{
    color:#000000;
    background-color:#FFFFFF;
  }
</style>
{% endblock style_sheet %}
{% block content %}
<div id="create_note_container">
  <form method="POST" action="" id="form_container">
    {% csrf_token %}
    <div class="note_form">
      {{form.as_p}}
    </div>
    <div class="bottombuttons">
      <a href="{% url 'delete_note' note.id %}" id="delete_note">Delete</a>
      <div class="save_discard">
        <a href="{% url 'home_page' %}" id="go_back">Go Back</a>
        <input type="submit" value="Save" id="save_note"/>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
